version: "3.9"

services:
  web:
    build:
      context: .
    image: ghcr.io/gunanto/djangolms:latest
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
